<div class="db-post-link-scale">
    {{#if post_link}}

    {{#if openGraphMaterial}}
    <a class="og-style" href={{post_link}} aria-label="User shared a link with a post they created." post-link-id={{id}} target="_blank">
        {{!-- {{>dashboard-links post.openGraphMaterial}} --}}

        <div class="og-image">
            <img src={{openGraphMaterial.images}} alt="A display of the host website included in the link.">
        </div>

        <div class="og-image">
            <p>{{openGraphMaterial.description}}</p>
        </div>
    </a>

    {{else}}
    <a class="post-link" href={{post_link}} aria-label="User shared a link with a post they created." post-link-id={{id}} target="_blank">
        <p class="text-center p-color">No info displayed, CLICK LINK HERE!</p>
    </a>

    {{/if}}
    {{/if}}

</div>

{{!-- ======================

I use this sample link to test links larger than 250 characters
https://stackoverflow.com/questions/76275054/res-jsondata-displays-the-json-directly-in-the-browser#:~:text=json(data)%20displays%20the%20json%20directly%20in%20the%20browser,-Ask%20Question&text=When%20sending%20a%20json%20object,front%20end%20as%20a%20variable.

====================== --}}