<div class="modal" modal-id={{id}} style="z-index: 5">
    <form class="container" form-id={{id}}>
        <p class="h2 intro-title">Edit your post</p>
        <div class="form-components">
            <label for="form-post">Post Text</label>
            <input type="text"  name="post-modal-text" modal-text-id={{id}} class="textbox"/>
        </div>

        <div class="form-components">
            <label for="form-link">Post Link</label>
            <input type="text" name="post-modal-link" modal-link-id={{id}} class="textbox" 

            />
        </div>

        <button type='submit' class="highlighted-options text-center margin-center">
            <p class="h6">
                Complete Edits
            </p>
        </button>
        <br />

        <br />
        <button type="button" class="highlighted-options text-center margin-center" close-id={{id}}>
            <p class="h6">
                Close
            </p>
        </button>
    </form>
</div>